# Build Artefakte
target/
**/target/

# IDE Dateien
.idea/
.vscode/
*.iml
.settings/
.classpath
.project

# Maven Wrapper Logs & Temp
.mvn/wrapper/maven-wrapper.jar

# Docker & Git
.git/
.gitignore
docker-compose.yml
Dockerfile
